<div class="grid header m-4">
    <div class="col-2">
        <!--div class="text-center p-3 border-round-sm bg-primary font-bold">1</div-->
    </div>
    <div class="col-8">
        <div class="text-center border-round mx-1 my-1">
            <h3>MENU PRINCIPAL</h3>
        </div>
    </div>
    <div class="col-2 my-1 font-bold flex align-items-center justify-content-end  border-round">
        <p-button  icon="pi pi-sign-out" iconPos="right" size="small" [rounded]="true" [outlined]="true" severity="warning" (onClick)="signout()"></p-button>
    </div>
</div>
